.message {
  padding: 10px;
  margin: 10px;
  width: fit-content !important;
}

.message__user {
  margin-left: auto;
}

.message__userCard {
  background-color: rgb(52, 83, 241) !important;
}

.message_guestCard {
  background-color: rgb(181, 215, 243) !important;
}
